<body>
  <h1>Your Recipe History</h1>

  <% if @recipe_histories.any? %>
    <ul>
      <% @recipe_histories.each do |recipe_history| %>
        <li>
          <strong>URL:</strong> <%= link_to recipe_history.url, recipe_history.url, target: "_blank" %>
          <ul>
            <% recipe_history.ingredients.each do |ingredient| %>
              <li><%= ingredient %></li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No recipe history found.</p>
  <% end %>
</body>
